* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: "Roboto";
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

header {
    background-image: url('../images/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.row {
    max-width: 1920px;
}

.logo {
    width: 250px;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
}

.main-nav li.N1 a {
    padding: 5px 0;
    color: #FEA501;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.main-nav li a {
    padding: 5px 0;
    color: #FFF;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    font-weight: bolder;
}

.main-nav li a:hover {
    border-bottom: 3px solid #FEA501;
}

.main-content-header {
    width: 345px;
    padding: 0 1%;
    position: absolute;
    /*border: 1px solid red;*/
    left: 74%;
    top: 20%;
}

.mates{
    color: #fff;
    font-size: 92px;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.matesText {
    font-size: 24px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
    transform: translateX(+15%);
}

.btn-full {
    background-color: #FEA501;
    color: #FFF;
    border: 1px solid #FEA501;
}

.btn-full:hover {
    background-color: #FFF;
    color: #FEA501;
}

.btn-nav {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-nav:hover {
    background-color: #bf55ec;
}

.AR1 {
    width: 90%;
    margin-top: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.AR2 {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-center {
    color: #2A0001;
    position: absolute;
    top: 1000px;
    margin-left: 15px;
    right: 25%;
    left: 25%;
    top: 150%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.colorchange {
    animation: colorchangethapa 1s infinite;
}

/* ///////////////////////////- EVENTS CSS -/////////////////////// */

#events{
    width: 100%;
    height: 100vh;
    background-color: rgb(32 33 37 / 98%);
}

.eventHeading{
    display: flex;
    /* border: hotpink solid 2px; */
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.upcomingHead{
    margin: auto;
}
.upcomingHead span {
    font-family: "Roboto";
    font-size: 50px;
    color: #f38c0ed1;
    text-shadow: -4px -2px black;
}
#upcoming{
    margin-left: auto;
    background-color: #f38c0ed1;
    width: 100px;
    height: 10px;
    border: black;
    border-radius: 8px; 
    box-shadow: -4px -2px black;
}
.updatesHead{
    margin: auto;   
}
.updatesHead span {
    font-family: "Roboto";
    font-size: 50px;
    color: #f38c0ed1;
    text-shadow: -4px -2px black;
    letter-spacing: 2px;

}

#updates{
    margin-left: auto;
    background-color: #f38c0ed1;
    width: 80px;
    height: 10px;
    border: black;
    border-radius: 8px; 
    box-shadow: -4px -2px black;
}
.eventUpdates{
    display: flex;
    /* border: darkred solid 2px; */
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    height: 80vh;
}

.upcomingEvents{
    /* border: black solid 2px; */
    width: 60%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.upcomingEvents span{
    font-size: 80px;
    font-weight: 200;
    background: linear-gradient(90deg, rgba(194,79,79,1) 0%, rgba(182,128,26,1) 35%, rgba(8,147,176,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    text-shadow: #00000070 -2px -2px;
    letter-spacing: 2px;
    
}

.updatesEvents{
    /* border: black solid 2px; */
    width: 30%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}

.updatesEvents span{
    font-size: 80px;
    font-weight: 200;
    background: linear-gradient(90deg, rgba(194,79,79,1) 0%, rgba(182,128,26,1) 35%, rgba(8,147,176,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    text-shadow: #00000070 -2px -2px;
}

/* /////////////////////-  CONTACT CSS  -\\\\\\\\\\\\\\\\\\\\ */

#contact{
    background: url("../images/MatES\ logo.png" ) no-repeat;
    background-position: center;
    background-size: cover;
}

.contact{
    height: 100vh;
    background: rgb(0 0 0 / 77%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactDetails{
    display: grid;
    justify-items: center;
}

.contact span{
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 600;
    color: #dc6500e3;
    text-shadow: #040200 -2px -2px;
    text-transform: uppercase;
}

.contact button{
       /* font: icon; */
       /* letter-spacing: 2px; */
       font-family: "Roboto";
        font-weight: 800;
       font-size: 37px;
       background: #ff8c00;
       border: solid 0px 0px;
       margin-top: 20px;
       width: 350px;
       height: 65px;
       border-radius: 40px;
       text-transform: uppercase;     
}

.contact button a { 
    text-decoration: none;
    color: white;
    text-align: center;
}

/* ///////////////////-  footer  -\\\\\\\\\\\\\\\\\ */

#footer{
    background: rgb(32 33 37 / 98%);
    height: 40vh;
    display: flex;
    align-items: center;
}

.footer{
    /* border: green 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;   
}

.address{
    display: inline;
    justify-content: center;
}
.address h3{
    font-family: monospace;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #f38c0ed1;
    text-shadow: -2px -2px black;
}

.address span{
    display: flex;
}

.address span h6{
    color: #f3ad2f;
    font-size: 15px;
    margin-left: 15px;
}

.contacts{
    display: inline;
    justify-content: center;
}
.contacts h3{
    font-family: monospace;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #f38c0ed1;
    text-shadow: -2px -2px black;
}

.contacts div{
    display: grid;
}
.contacts div a{
    text-decoration: none;
    color: #f3ad2f;
    font-size: 15px;
}

.contacts div span{
    text-decoration: none;
    color: #f3ad2f;
    font-size: 15px;
    margin-top: 10px;
}

.contacts div a span{
    margin-left: 10px;
}

.contacts div span span{
    margin-left: 10px;
}

.quickLinks{
    display: inline;
    justify-content: center;
}
.quickLinks h3{
    font-family: monospace;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #f38c0ed1;
    text-shadow: -2px -2px black;
}

.quickLinks ul{
 
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a{
  text-decoration: none;
  color: #f3ad2f;
  font-family: monospace;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 5px;

}
.social{
    display: inline;
    justify-content: center;
}
.social h3{
    font-family: monospace;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #f38c0ed1;
    text-shadow: -2px -2px black;
}

.social a {
    text-decoration: none;
    margin-top: 15px;

}

.social a i {
    color: #f3ad2f;
    font-size: 30px;
    margin: 0 5px;
}

/* ////////////////////- ANIMATIONS -\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@keyframes colorchangethapa {
    0% {
        color: red;
    }
    25% {
        color: #bf55ec;
        ;
    }
    50% {
        color: white;
    }
    100% {
        color: #bf55ec;
    }
}

.mobile-icon {
    display: none;
}


/*//////// Responsive queries //////////*/

@media only screen and (max-width: 1180px) {
    .main-content-header {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width: 998px) {
    h1 {
        font-size: 300%;
    }
    .AR1 {
        transform: translateY(-250px);
    }
    .AR2 {
        transform: translateY(-250px)
    }
    .main-content-header {
        width: 250px;
        transform: translateY(-60px);
    }
    .top-center {
        font-size: 20px;
        top: 100%;
    }
    h4 {
        font-size: 15px;
    }
    header {
        background-size: contain;
    }
    .logo {
        width: 200px;
        height: 140px;
    }
    .main-nav li a {
        font-size: 20px;
        margin-right: 0px;
    }
    .main-nav li.N1 a {
        font-size: 20px;
        margin-right: 0px;
    }
    .btn {
        padding: 10px 10px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }
    .AR1 {
        transform: translateY(-360px)
    }
    .AR2 {
        transform: translateY(-360px);
    }
    .top-center {
        font-size: 15px;
        top: 75%;
    }
    .main-content-header {
        width: 180px;
        transform: translateY(-120px);
    }
    .mobile-icon {
        display: inline-block;
        color: #fff;
        float: right;
        margin-top: 30px;
        margin-right: 20px;
    }
    .logo {
        width: 150px;
        height: 100px;
        margin-top: 10px;
    }
    h1 {
        font-size: 30px;
    }
    h4 {
        font-size: 12px;
    }
    .btn {
        font-size: 15px;
        transform: translateX(-1px);
    }
    .main-nav {
        float: left;
    }
    .main-nav li {
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    h4 {
        display: none;
    }
    h1 {
        font-size: 20px;
        transform: translateY(+40px);
    }
    .logo {
        width: 90px;
        height: 60px;
        margin-top: 10px;
    }
    .AR1 {
        transform: translateY(-495px);
    }
    .AR2 {
        transform: translateY(-495px);
    }
    .top-center {
        font-size: 8px;
        top: 52%;
    }
    .btn {
        font-size: 11px;
    }
}
